# Go
# Не игнорируем build
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Node
node_modules/
/frontend/dist/
/frontend/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
/database.xlsx 