# Go
/build/bin/
/build/windows/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Сохраняем логотип
!/build/appicon.png

# Node
node_modules/
/frontend/dist/
/frontend/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
/database.xlsx 